In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

## Attendance data

In [2]:
attendance = pd.read_csv('attendance.csv')
attendance

,Unnamed: 0,2018-01-01,2018-01-02,2018-01-03,2018-01-04,2018-01-05,2018-01-06,2018-01-07,2018-01-08
0,Sally,P,T,T,H,P,A,T,T
1,Jane,A,P,T,T,T,T,A,T
2,Billy,A,T,A,A,H,T,P,T
3,John,P,T,H,P,P,T,P,P

In [5]:
attendance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  4 non-null      object
 1   2018-01-01  4 non-null      object
 2   2018-01-02  4 non-null      object
 3   2018-01-03  4 non-null      object
 4   2018-01-04  4 non-null      object
 5   2018-01-05  4 non-null      object
 6   2018-01-06  4 non-null      object
 7   2018-01-07  4 non-null      object
 8   2018-01-08  4 non-null      object
dtypes: object(9)
memory usage: 416.0+ bytes

In [4]:
attendance.columns

Index(['Unnamed: 0', '2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
       '2018-01-05', '2018-01-06', '2018-01-07', '2018-01-08'],
      dtype='object')

In [36]:
#pd.melt(attendance,id_vars = '')

In [38]:
attendance_melt = pd.melt(attendance, id_vars= 'Unnamed', value_name= 'grading', var_name = 'Date')
attendance_melt

KeyError: 'Unnamed'

In [25]:
attendance.columns[1:]

Index(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04', '2018-01-05',
       '2018-01-06', '2018-01-07', '2018-01-08'],
      dtype='object')

## Coffee Levels  data

In [9]:
coffee = pd.read_csv('coffee_levels.csv')

In [16]:
coffee.sample(3)

    hour coffee_carafe  coffee_amount
17    15             y       0.144644
2     10             x       0.843279
11     9             y       0.521502

In [31]:
coffee.coffee_carafe.value_counts()

y    10
z    10
x    10
Name: coffee_carafe, dtype: int64

In [30]:
carafe_X = coffee[coffee.coffee_carafe == 'x']

In [29]:
carafe_Y = coffee[coffee.coffee_carafe == 'y']

In [32]:
carafe_Z = coffee[coffee.coffee_carafe == 'z']

   hour coffee_carafe  coffee_amount
0     8             x       0.816164
1     9             x       0.451018
2    10             x       0.843279
3    11             x       0.335533
4    12             x       0.898291